---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Acerca de Mí"
  description="Una pequeña descripción de mi persona"
  pubDate={new Date("April 28 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    ¡Hola! Soy Alan Fernández, un apasionado desarrollador de software y esto es
    una breve historia de mi persona. Mi viaje en este emocionante mundo comenzó
    a la temprana edad de 14 años, cuando descubrí por primera vez el poder y la
    magia de la programación.
  </p>

  <p>
    Desde entonces, me sumergí de lleno en el fascinante universo del código,
    experimentando con diferentes lenguajes y tecnologías. A los 16 años, me
    encontraba creando páginas web con HTML en un simple bloc de notas,
    fascinado por la capacidad de crear algo nuevo desde cero con solo unas
    pocas líneas de código.
  </p>
  <p>
    Confieso que, en mi etapa adolescente, también me aventuré en el lado más
    travieso de la programación, creando virus inocentes para molestar a mis
    amigos y compañeros de clase. Sin embargo, con el tiempo, canalizé mi pasión
    por la programación hacia objetivos más constructivos y productivos.
  </p>
  <p>
    Hoy en día, me siento increíblemente afortunado de poder dedicarme
    profesionalmente a lo que amo: la programación. No solo es mi trabajo, sino
    mi pasión y mi forma de vida. A través del código, puedo dar vida a ideas,
    resolver problemas y contribuir al emocionante avance tecnológico que
    estamos presenciando en la actualidad.
  </p>
  <p>
    Me encantaría compartir contigo mi conocimiento, mis experiencias y mi amor
    por la programación a través de este blog. ¡Espero que disfrutes explorando
    este mundo tanto como yo disfruto compartiéndolo contigo!
  </p>
</Layout>
